<% if rents.any? %>
	<div>
		<h2>Rents: </h2>
		<table border ="1" class="table table-striped" style="width: 500px; text-align: center">
			<thead>
				<th>ID</th>
				<th>Cliente</th>
				<th>Total</th>
				<th>Dias</th>
				<th>Fecha inicio</th>
				<th>Fecha final</th>
			</thead>
			<tbody>
				<%= render rents %>
			</tbody>
		</table>
	</div>
<% else %>
	<p style="font-size: 30px"><em>No hay rents.</em></p>
<% end %>
